<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MyProjectEntities" connectionString="metadata=res://*/MyProjectDataAccess.csdl|res://*/MyProjectDataAccess.ssdl|res://*/MyProjectDataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Myidea;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyRuleEngineEntities" connectionString="metadata=res://*/DataAccess.RuleEngine.csdl|res://*/DataAccess.RuleEngine.ssdl|res://*/DataAccess.RuleEngine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyRuleEngine;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <MyProject.Properties.Settings>
      <setting name="LastDatabase" serializeAs="String">
        <value />
      </setting>
    </MyProject.Properties.Settings>
  </userSettings>
</configuration>